<div class="container">       
    <h2>Please sign in</h2>
    <h3>{{Auth.message}}</h3>

    <form class="jumbotron">
        <fieldset>
            <div class="form-group">
                <input class="form-control" ng-model="Auth.email" type="email">
                <input class="form-control" ng-model="Auth.name" type="text">
                <input class="form-control" ng-model="Auth.password" type="password">
            </div>
            <button type="button" class="btn btn-success" ng-click="Auth.login()">Login</button>
            <button type="button" class="btn btn-info" ng-click="Auth.register()">Register</button>
        </fieldset>
    </form>
</div>